* {
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/back.png");
  height: 100vh;
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: inline-block;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block;
  cursor: pointer;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.main-nav li a:hover {
  border: 1px solid black;
}

.logo img {
  width: 150px;
  height: auto;
  float: left;
}

body {
  font-family: monospace;
}

h1 {
  color: black;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
}
.welcome {
  margin-top: 275px;
}

.button {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.btn {
  border: 1px solid black;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  text-transform: uppercase;
}

.btn-one:hover {
  background-color: darkorange;
  transition: all 0.5s ease-in;
  font-family: "Roboto", sans-serif;
}
